@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-dark: #111111;
    --bg-dark-light: #181818;
    --bg-dark-light-2: #1e1e1e;
    --primary: #c91b28;
    --primary-light: #f83241;
    --white: #FFFFFF;
    --text-gray: #cecece;
}
body {
    background-color: var(--bg-dark);
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    overflow-x: hidden;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    overflow-x: auto;
}
.navbar .logo-container img {
    width: 100px;
}
.navbar .list {
    list-style-type: none;
    display: flex;
    gap: 70px;
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
@media only screen and (max-width: 1045px) {
    .navbar .list {
        gap: 40px;
        margin-top: 5px;
    }
    .navbar .logo-container {
        margin-right: 50px;
    }
    .navbar .list li:last-child {
        width: 100px;
    }
}


/*---------------------- hero section --------------------*/
.hero {
    display: flex;
    justify-content: center;
    position: relative;
}
.hero .left-image {
    margin-top: -80px;
    margin-left: -140px;
} 
.hero .left-image img {
    width: 640px;
}
.hero .right-headline {
    margin-top: 120px;
}
.hero .right-headline h4 {
    color: var(--primary-light);
    font-size: 1.4rem;
}
.hero .right-headline h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}
.hero .right-headline p {
    font-size: 1.2rem;
    line-height: 22px;
}
.hero .right-headline button {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-size: 18px;
    text-transform: uppercase;
    padding: 18px 40px;
    margin-top: 40px;
}
.hero .box {
    position: absolute;
    background-color: var(--bg-dark-light);
    width: 53rem;
    height: 960px;
    left: -200px;
    top: 560px;
    z-index: -1;
}

@media only screen and (max-width: 1045px) {
    .hero .left-image {
        margin-top: 0px;
    } 
    .hero .left-image img {
        width: 500px;
    }
    .hero .right-headline h4 {
        font-size: 1.1rem;
    }
    .hero .right-headline h1 {
        font-size: 2.4rem;
    }
    .hero .right-headline p {
        font-size: 1rem;
    }
    .hero .right-headline button {
        padding: 14px 30px;
    }
    .hero .box {
        position: absolute;
        background-color: var(--bg-dark-light);
        width: 43rem;
        height: 960px;
        left: -200px;
        top: 500px;
        z-index: -1;
    }
    
}
@media only screen and (max-width: 808px) {
    .hero {
        flex-direction: column;
        padding: 0 20px;
    }
    .hero .right-headline {
        margin-top: 50px;
    }
    
}
/*----------------------- service section ----------------------*/
.serveice-section {
    margin-top: 100px;
}
.serveice-section .service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.serveice-section .service-cards .service-card {
    background-color: var(--bg-dark-light-2);
    padding: 40px 50px;
}
.serveice-section .service-cards .service-card:nth-child(2) {
    background-color: var(--primary);
}
.serveice-section .service-cards .service-card h1 {
    font-weight: 600;
    margin: 20px 0;
}
.serveice-section .service-cards .service-card p {
    font-size: 1.4rem;
    color: var(--text-gray);
}
.serveice-section .service-cards .service-card .service-btn i {
    color: var(--primary-light);
    margin-left: 10px;
}
.serveice-section .service-cards .service-card:nth-child(2) .service-btn i {
    color: var(--white);
}
.serveice-section .service-cards .service-card .service-btn button {
    color: var(--primary-light);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 29px;
    text-transform: uppercase;
    font-weight: 400;
}
.serveice-section .service-cards .service-card:nth-child(2) button {
    color: var(--white);
}

.service-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.service-stats .left {
    flex: 1.2;
    text-align: center;
}
.service-stats .left h1 {
    color: var(--primary-light);
    font-size: 7rem;
    font-weight: 900;
}
.service-stats .left p {
    font-size: 2rem;
    margin-top: -10px;
    font-weight: 600;
}
.service-stats .right {
    display: flex;
    gap: 20px;
    flex: 2;
    flex-wrap: wrap;
}
.service-stats .right .card {
    background-color: var(--bg-dark-light-2);
    width: 20rem;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-stats .right .card h1 {
    color: var(--primary-light);
    font-size: 2.9rem;
}
.service-stats .right .card p {
    color: var(--text-gray);
    font-size: 17px;
    padding-top: 5px;
}
@media only screen and (max-width: 1045px) {
    .serveice-section .service-cards .service-card h1 {
        font-size: 1.5rem;
    }
    .serveice-section .service-cards .service-card p {
        font-size: 1.1rem;
    }
    .serveice-section .service-cards .service-card .logo img {
        width: 40px;
    }
    .serveice-section .service-cards {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 808px) {
    .service-stats {
        margin: 90px auto;
        flex-direction: column;
    }
    .service-stats .left h1 {
        font-size: 4rem;
    }
    .service-stats .left p {
        font-size: 1.5rem;
    }
    .service-stats .right {
        justify-content: center;
        margin-top: 40px;
    }
    .service-stats .right .card {
        background-color: var(--bg-dark-light-2);
        width: 10rem;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-stats .right .card h1 {
        color: var(--primary-light);
        font-size: 2.9rem;
    }
    .service-stats .right .card p {
        color: var(--text-gray);
        font-size: 17px;
        padding-top: 5px;
    }
}


/*----------------------- project section ---------------------*/
.featured-projects {
    margin-top: 200px;
}
.featured-projects .project-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin-bottom: 40px;
}
.featured-projects .project-headline h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 900;
}
.featured-projects .project-headline p {
    padding-top: 14px;
    color: var(--text-gray);
    padding-bottom: 12px;
}
.featured-projects .project-headline button {
    background-color: var(--primary-light);
    color: var(--white) ;
    padding: 14px 40px;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
}
.featured-projects .project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    justify-content: center;
}
.featured-projects .project-cards .project-card .project-img {
    background-color: var(--bg-dark-light-2);
    width: 34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.featured-projects .project-cards .project-card h1 {
    padding: 20px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 900;
}
.featured-projects .project-cards .project-card span {
    color: var(--primary-light);
    display: flex;
    align-items: center;
    gap: 10px;
}
.featured-projects .project-cards .project-card span button {
    color: var(--primary-light);
    border: none;
    text-transform: uppercase;
    font-size: 17px;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}
.featured-projects .project-cards .project-card img {
    width: 30rem;
}

@media only screen and (max-width: 1045px) {
    .featured-projects .project-headline h1 {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 900;
    }
    .featured-projects .project-headline p {
        padding-top: 14px;
        color: var(--text-gray);
        padding-bottom: 12px;
        font-size: 1rem;
    }
    .featured-projects .project-headline button {
        background-color: var(--primary-light);
        color: var(--white) ;
        padding: 8px 20px;
        border: none;
        text-transform: uppercase;
        font-size: 17px;
        cursor: pointer;
    }
}
@media only screen and (max-width: 808px) {
 
    .featured-projects .project-headline {
        padding: 0 20px;
    }
    .featured-projects .project-headline h1 {
        font-size: 1.2rem;
    }
    .featured-projects .project-headline p {
        font-size: .8rem;
    }
    .featured-projects .project-headline button {
        padding: 8px 20px;
        font-size: 15px;
    }
    .featured-projects .project-cards {
        padding: 0 10px;
    }
    .featured-projects .project-cards .project-card {
        width: 100vw;
    }
    .featured-projects .project-cards .project-card h1  {
        margin: 0 20px;
    }
    .featured-projects .project-cards .project-card span  {
        margin: 0 20px;
    }
    .featured-projects .project-cards .project-card .project-img {
        width: 100%;
    }
    .featured-projects .project-cards .project-card img {
        width: 90%;
    }
}


/*----------------------- contact section --------------------*/
.contact-section {
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 0 80px;
}   
.contact-section .contact-card {
    background-color: var(--bg-dark-light-2);
    display: flex;
    justify-content: space-between;
    padding: 70px 40px;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
}
.contact-section .contact-card .left h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.contact-section .contact-card .left p {
    color: var(--text-gray);
}
.contact-section .contact-card .right {
    padding-right: 100px;
}
.contact-section .contact-card .right button {
    background-color: var(--primary-light);
    color: var(--white);
    border: none;
    padding: 18px 60px;
    cursor: pointer;
    font-size: 1.1rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 1151px) {
    .contact-section .contact-card .left h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .contact-section .contact-card .left p {
        font-size: 1rem;
    }
    .contact-section .contact-card .right {
        padding-right: 0px;
    }
    .contact-section .contact-card .right button {
        padding: 14px 40px;
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 724px) {
    .contact-section {
        padding: 0 10px;
    }
    .contact-section .contact-card .right button {
        margin-top: 40px;
    }
    .contact-section .contact-card {
        height: auto;
    }
    .contact-section .contact-card .left h1 {
        font-size: 1.5rem;
    }
    .contact-section .contact-card .left p {
        font-size: .9rem;
    }
}


/*----------------------- footer nav --------------------------*/
.footer-nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding: 0 80px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.footer-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--bg-dark-light-2);
    height: 140px;
    display: flex;
    align-items: center;

}
.footer {
    max-width: 80rem;
    margin: 0 200px;
}
.footer img {
    width: 100px;
}
.footer-wrapper .social-icons {
    text-align: center;
    margin-left: 220px;
}
.footer-wrapper .social-icons img:not(:last-child) {
    margin-right: 40px;
}

@media only screen and (max-width: 950px) {
   
    .footer {
        max-width: 0rem;
        margin: 0;
    }
    .footer-wrapper {
        justify-content: center;
    }
}